Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

feat(middleware): add special handling for OAuth paths and update logout redirect
  apps/web/src/middleware.ts
Labels: frontend

chore(next.config): comment out unused redirects function
  apps/web/next.config.mjs
Labels: none

feat(login): adjust password requirements and enhance GitHub OAuth handling
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

feat(login): update GitHub login DTO to allow optional username and transform githubId
  apps/api/src/dto/login.dto.ts
  apps/web/src/types.ts
Labels: frontend, backend

feat(session): implement session update logic to avoid duplicate sessions
  apps/api/src/auth/providers/guards/session.guard.ts
Labels: backend

feat(user): add conflict handling for existing users during GitHub registration
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

fix(actions): correct avatarUrl property in GitHub login and format invite email request
  apps/web/src/actions.ts
Labels: frontend

fix(login): prevent default action in GitHub login handler
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

feat(sidebar): update navigation items and icons for improved user experience
  apps/web/src/components/views/ui/sidebar.tsx
Labels: frontend

fix(workflows): improve commit history fetching and error handling in CI scripts
  .github/workflows/code_analyze.yml
  .github/workflows/scripts/send_metadata.sh
Labels: config

fix(workflows): enhance commit history fetching and add debugging output in CI scripts
  .github/workflows/code_analyze.yml
Labels: config

fix(workflows): fetch commit history and escape newlines in CI script
  .github/workflows/code_analyze.yml
Labels: config

feat(validate): enable transformation in validation pipe configuration
  apps/api/src/configs/validate.config.ts
Labels: backend

fix(workflows): add debugging output for metadata in send_metadata script
  .github/workflows/scripts/send_metadata.sh
Labels: none

fix(github): validate pull request number and log commit processing
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

fix(github): add logging for storing pull request data and improve error handling
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(dto): enhance GitHub DTOs with detailed commit and pull request statistics
  apps/api/src/dto/github.dto.ts
Labels: backend

feat(UI): update code page to match the PR for github
  apps/web/src/app/home/code/page.tsx
Labels: frontend

chore(shell): add debug logs to comment script
  .github/workflows/scripts/process_feedback.sh
Labels: none

create commitlint configuration file
  commitlint.config.js
  package-lock.json
  package.json
Labels: config, package

feat(exception): add global API exception filter for improved error handling
  apps/api/src/utils/guards/api-exception.filter.ts
  apps/api/src/utils/guards/index.ts
Labels: backend

feat(api): add global exception filter and BigInt serialization support
  apps/api/src/main.ts
Labels: backend

feat(auth): enhance session management with error handling and logging
  apps/api/src/auth/providers/guards/session.guard.ts
Labels: backend

feat(auth): improve error handling in user provider methods
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(prisma): enhance database connection management and error handling
  apps/api/src/factories/prisma/prisma.service.ts
Labels: backend

feat(auth): enhance user ID handling for signup and login processes
  apps/api/src/auth/auth.service.ts
Labels: backend

feat(eslint): enforce no unused variables rule with argsIgnorePattern option
  apps/api/.eslintrc.js
Labels: config

feat(pr): update PullRequest interface to use optional commits array
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(dashboard): add optional chaining for commits display
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(dashboard): add optional chaining for labels display
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(pull-requests): add fetchPullRequests function to retrieve user pull requests
  apps/web/src/actions.ts
Labels: frontend

feat(dashboard): enhance pull request loading with notifications and error handling
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(github): enhance getPullRequests method with user ID query and error handling
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(github): refactor getPullRequestsForUser method with improved error handling and logging
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(schema): update FileAnalysis model and add enums for enhanced type safety
  prisma/schema.prisma
Labels: none

feat(schema): update FileAnalysis model with new enums and restructure columns for enhanced analysis
  prisma/migrations/20241128132922_add_file_anlysis_and_ai_enums/migration.sql
Labels: none

feat(dto): add FileAnalysisDto for enhanced file analysis data structure
  apps/api/src/dto/FileAnalysis.dto.ts
  apps/api/src/dto/index.ts
Labels: backend

fix(dashboard): remove unnecessary animation class from empty pull requests message
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(github): add FileAnalysisService to GithubModule providers
  apps/api/src/domains/github/github.module.ts
Labels: backend

feat(github): add store-file-analysis endpoint to GithubController for file analysis data storage
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
