Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

feat: enhance middleware for improved authentication flow and public path handling
  apps/web/src/middleware.ts
Labels: frontend

feat: update package.json with new dependencies and scripts for improved development workflow
  package-lock.json
  package.json
Labels: config, package

feat: add lint-staged script to package.json for improved pre-commit linting
  package.json
Labels: config, package

refactor: remove unused database and UI components for code cleanup
  apps/web/src/components/ui/NotificationWrapper.tsx
  apps/web/src/components/ui/mode-toggle.tsx
  apps/web/src/components/ui/pagination.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/db/drizzle.ts
  apps/web/src/db/schema.ts
  apps/web/src/hooks/useUsers.ts
Labels: frontend

refactor: remove analytics components and related tests for code cleanup
  apps/web/src/app/admin/analytics/index.ts
  apps/web/src/app/admin/analytics/page.test.tsx
  apps/web/src/app/admin/analytics/page.tsx
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/admin/page.test.tsx
Labels: frontend

refactor: remove UI components (Input, Button, Card, Header) for code cleanup
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/header.tsx
  apps/web/src/components/ui/input.tsx
Labels: frontend

refactor: remove unused admin pages and related tests for code cleanup
  apps/web/src/app/admin/orders/page.tsx
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/admin/products/page.test.tsx
  apps/web/src/app/admin/products/page.tsx
  apps/web/src/app/admin/users/page.tsx
Labels: frontend

feat: add custom hooks for scroll locking, greeting, pagination, and dropdown functionality; implement sidebar component
  apps/web/src/components/views/ui/mode-toggle.tsx
  apps/web/src/components/views/ui/select.tsx
  apps/web/src/components/views/ui/sheet.tsx
  apps/web/src/components/views/ui/sidebar.tsx
  apps/web/src/hooks/useDropdown.ts
  apps/web/src/hooks/useGreeting.ts
  apps/web/src/hooks/useLockScroll.ts
  apps/web/src/hooks/usePagination.ts
Labels: frontend

refactor: remove unused login components (Button, Input, Login-Footer, Login-Form, Login-Nav) for code cleanup
  apps/web/src/components/login/Button.tsx
  apps/web/src/components/login/Input.tsx
  apps/web/src/components/login/Login-Footer.tsx
  apps/web/src/components/login/Login-Form.tsx
  apps/web/src/components/login/Login-Nav.tsx
Labels: frontend

refactor: remove unused UI components (LogoFull, Label, MobileNav) for code cleanup
  apps/web/src/components/ui/LogoFull.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/mobile-nav.tsx
Labels: frontend

feat: add new UI components (Label, Input, Header, MobileNav) for enhanced functionality and layout
  apps/web/src/components/views/ui/LogoFull.tsx
  apps/web/src/components/views/ui/dropdown-menu.tsx
  apps/web/src/components/views/ui/header.tsx
  apps/web/src/components/views/ui/input.tsx
  apps/web/src/components/views/ui/label.tsx
  apps/web/src/components/views/ui/mobile-nav.tsx
Labels: frontend

feat: add new icon components (IconImage, IconInfo, IconMenu, IconMinus, IconPlus, IconTrash, IconUser, IconX) for enhanced UI functionality
  apps/web/src/components/icons/IconImage.tsx
  apps/web/src/components/icons/IconInfo.tsx
  apps/web/src/components/icons/IconMenu.tsx
  apps/web/src/components/icons/IconMinus.tsx
  apps/web/src/components/icons/IconPlus.tsx
  apps/web/src/components/icons/IconTrash.tsx
  apps/web/src/components/icons/IconUser.tsx
  apps/web/src/components/icons/IconX.tsx
Labels: frontend

feat: add new icon components (IconImage, IconInfo, IconMenu, IconMinus, IconPlus, IconTrash, IconUser, IconX) for enhanced UI functionality
  apps/web/src/components/views/login/Button.tsx
  apps/web/src/components/views/login/Login-Form.tsx
  apps/web/src/components/views/login/Login-Nav.tsx
  apps/web/src/components/views/ui/badge.tsx
  apps/web/src/components/views/ui/button.tsx
Labels: frontend

feat: add new UI components (ThemeProvider, Footer, NotificationWrapper, Card, Table, Pagination) for enhanced functionality and layout
  apps/web/src/components/views/login/Input.tsx
  apps/web/src/components/views/login/Login-Footer.tsx
  apps/web/src/components/views/ui/NotificationWrapper.tsx
  apps/web/src/components/views/ui/card.tsx
  apps/web/src/components/views/ui/chart.tsx
  apps/web/src/components/views/ui/form.tsx
  apps/web/src/components/views/ui/pagination.tsx
  apps/web/src/components/views/ui/table.tsx
  apps/web/src/components/views/ui/theme-provider.tsx
  apps/web/src/styles/globals.css
Labels: frontend

refactor: remove unused UI components (ThemeProvider, Badge, Table, Sidebar, Form) for code cleanup
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/chart.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/theme-provider.tsx
Labels: frontend

feat: add new shared components (Input, PaginationControls, Textarea, ThemeToggle, Toggle) for enhanced UI functionality
  apps/web/src/components/shared/Input.tsx
  apps/web/src/components/shared/PaginationControls.tsx
  apps/web/src/components/shared/Textarea.tsx
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/components/shared/Toggle.tsx
  apps/web/src/components/shared/index.ts
Labels: frontend

feat: add new shared components (Checkbox, Dropdown, DropdownItem, Filter, LogoFull) for enhanced UI functionality
  apps/web/src/components/shared/Checkbox.tsx
  apps/web/src/components/shared/Dropdown.tsx
  apps/web/src/components/shared/DropdownItem.tsx
  apps/web/src/components/shared/Filter.tsx
  apps/web/src/components/shared/logo/LogoFull.tsx
  apps/web/src/components/shared/logo/index.ts
Labels: frontend

feat: add new icon components (IconChevronDown, LogoIcon, LogoMark) and shared Button component for enhanced UI functionality
  apps/web/src/components/icons/IconChevronDown.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/components/shared/Button.tsx
  apps/web/src/components/shared/logo/LogoIcon.tsx
  apps/web/src/components/shared/logo/LogoMark.tsx
Labels: frontend

feat: add authentication and analytics components with GitHub OAuth integration
  apps/web/src/app/home/analytics/page.tsx
  apps/web/src/auth/application/controller.ts
  apps/web/src/auth/config/supabase.ts
  apps/web/src/auth/factories/authHelpers.ts
  apps/web/src/auth/factories/authInterface.ts
Labels: frontend

feat: update component imports to use new views structure and enhance signup form with first and last name fields
  apps/web/src/app/signup/page.tsx
  apps/web/src/components/features/data-stats/data-stats.tsx
  apps/web/src/components/features/images-table/images-table.tsx
  apps/web/src/components/features/signup-form/signup-form.tsx
  apps/web/src/hooks/index.ts
Labels: frontend

feat: add analytics page test and create ping API endpoint for health check
  apps/web/src/app/home/analytics/page.test.tsx
  apps/web/src/app/pages/api/ping.ts
Labels: frontend

feat: implement access token generation page and authentication callback with GitHub OAuth
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/app/home/access-tokens/page.test.tsx
  apps/web/src/app/home/access-tokens/page.tsx
  apps/web/src/app/home/analytics/index.ts
  apps/web/src/app/home/code/page.tsx
  apps/web/src/app/pages/api/auth/[...nextauth].ts
  apps/web/src/stores/sidebar.ts
Labels: frontend

refactor: remove unused test files, API route, global styles, and user management code
  apps/web/src/app/admin/orders/page.test.tsx
  apps/web/src/app/api/ping/route.ts
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/page.test.tsx
  apps/web/src/drizzle.config.ts
  apps/web/src/server/users.ts
Labels: frontend

feat: update user table component to use new naming conventions and improve pagination constants
  apps/web/src/components/features/users-table/users-table.tsx
  apps/web/src/lib/constants.ts
  apps/web/src/stores/auth.ts
Labels: frontend

refactor: update component imports to new views structure and reorder layout styles
  apps/web/src/app/home/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/lib/helpers.ts
Labels: frontend

refactor: update component imports to new views structure and clean up type definitions
  apps/web/src/app/home/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/types.ts
Labels: frontend

chore: update dependencies, refactor authentication actions, and adjust Tailwind configuration
  apps/web/package.json
  apps/web/src/actions.ts
  apps/web/src/app/not-found.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Labels: config, frontend, package

refactor: update middleware for improved authentication handling and cleanup next.config
  apps/web/next.config.mjs
  apps/web/src/middleware.ts
Labels: frontend

chore: update start script to increase memory limit for NestJS application
  apps/api/package.json
Labels: config, package

refactor: add JwtMiddleware to ApiModule for enhanced security
  apps/api/src/factories/api/api.module.ts
Labels: backend

refactor: enhance PrismaService with improved connection handling and query logging
  apps/api/src/factories/prisma/prisma.service.ts
Labels: backend

chore: add lint-staged configuration for type checking, linting, formatting, and testing
  .lintstagedrc.js
Labels: none

refactor: optimize error handling in user service for better reliability
  package-lock.json
Labels: config, package

fix: update apostrophe encoding in user-facing messages for consistency
  apps/web/src/app/home/code/page.tsx
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

chore: update turbo.json for improved task configuration and add environment variables
  turbo.json
Labels: none

chore: disable unused variable rule in ESLint configuration
  apps/web/.eslintrc.js
Labels: config, frontend

chore: include cz-config.js in TypeScript configuration for better type checking
  apps/web/tsconfig.json
Labels: config

chore: remove unused environment variables from turbo.json for cleaner configuration
  turbo.json
Labels: none

chore: refactor Supabase client configuration to use centralized environment variables
  apps/web/src/auth/config/supabase.ts
  apps/web/src/lib/env.ts
Labels: frontend

chore: add environment variables for Supabase and Next.js in workflow and turbo.json
  .github/workflows/publish.yml
  turbo.json
Labels: config

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
