Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

docs: update initial documentation to clarify API endpoints and response formatting
  initial_docs.txt
Labels: none

feat: enhance global styles with CSS variables and improved scrollbar design
  apps/web/src/styles/globals.css
Labels: none

feat: add ThemeProvider and Providers components for theming and notifications
  apps/web/src/components/views/ui/theme-provider.tsx
  apps/web/src/providers/Provider.tsx
Labels: frontend

feat: remove unused pages for Home, Dashboard, Community, Forgot Password, and Verify
  apps/web/src/pages/community.tsx
  apps/web/src/pages/dashboard.tsx
  apps/web/src/pages/forgot-password.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/password-reset.tsx
  apps/web/src/pages/signup.tsx
  apps/web/src/pages/verify.tsx
Labels: frontend

feat: remove unused hooks and API route for cleaner codebase
  apps/web/src/hooks/useDisclosure.ts
  apps/web/src/hooks/useElementSize.ts
  apps/web/src/pages/api/hello.ts
Labels: frontend

feat: add useDebounce hook for improved state management
  apps/web/src/hooks/useDebounce.ts
Labels: frontend

feat: remove _app and _document files for project restructuring
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
Labels: frontend

feat: remove unused image size conversion functions and add formatDate utility
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/utils.ts
Labels: frontend

feat: remove unused dashboard components and related files for cleaner codebase
  apps/web/src/components/Footer.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/Providers.tsx
  apps/web/src/components/Slides.tsx
  apps/web/src/components/SubmissionModal.tsx
  apps/web/src/components/TagInput.tsx
  apps/web/src/components/dashboard/PhotoUpload.tsx
  apps/web/src/components/dashboard/index.ts
Labels: frontend

feat: add analytics chart data and restructure component exports for better organization
  apps/web/src/app/home/analytics/index.ts
  apps/web/src/components/features/index.ts
  apps/web/src/components/shared/index.ts
  apps/web/src/hooks/index.ts
Labels: frontend

feat: remove unused submissions components for codebase cleanup
  apps/web/src/components/dashboard/Profile.tsx
  apps/web/src/components/dashboard/StatCard.tsx
  apps/web/src/components/dashboard/SubmissionCard.tsx
  apps/web/src/components/dashboard/Submissions.tsx
  apps/web/src/components/views/submissions/EmptySubmissions.tsx
  apps/web/src/components/views/submissions/SubmissionsHeader.tsx
  apps/web/src/components/views/submissions/SubmissionsList.tsx
Labels: frontend

feat: add NotificationWrapper, Form components, and related UI elements for enhanced user interaction
  apps/web/src/components/views/ui/NotificationWrapper.tsx
  apps/web/src/components/views/ui/form.tsx
  apps/web/src/components/views/ui/header.tsx
  apps/web/src/components/views/ui/input.tsx
  apps/web/src/components/views/ui/label.tsx
Labels: frontend

feat: add Badge and Button components with variant support for improved UI consistency
  apps/web/src/components/views/ui/badge.tsx
  apps/web/src/components/views/ui/button.tsx
  apps/web/src/components/views/ui/chart.tsx
Labels: frontend

feat: add DropdownMenu and MobileNav components for enhanced navigation and UI functionality
  apps/web/src/components/views/ui/dropdown-menu.tsx
  apps/web/src/components/views/ui/mobile-nav.tsx
Labels: frontend

feat: add Nav, Card, and ModeToggle components for improved UI and theme management
  apps/web/src/components/views/login/Login-Nav.tsx
  apps/web/src/components/views/ui/card.tsx
  apps/web/src/components/views/ui/mode-toggle.tsx
Labels: frontend

feat: remove layout components (AppLayout, AuthLayout, DashboardLayout, RootLayout) for codebase simplification
  apps/web/src/components/layouts/AppLayout.tsx
  apps/web/src/components/layouts/AuthLayout.tsx
  apps/web/src/components/layouts/DashboardLayout.tsx
  apps/web/src/components/layouts/RootLayout.tsx
  apps/web/src/components/layouts/index.ts
Labels: frontend

feat: remove Modal, CommunityCard, and CommunityGallery components for codebase cleanup
  apps/web/src/components/shared/Modal.tsx
  apps/web/src/components/views/CommunityCard.tsx
  apps/web/src/components/views/community/CommunityGallery.tsx
Labels: frontend

feat: update Next.js and Tailwind CSS configurations for improved styling and functionality
  apps/web/next.config.mjs
  apps/web/public/favicon.ico
  apps/web/tailwind.config.ts
Labels: frontend

feat: add LoginForm and Pagination components for enhanced user authentication and navigation
  apps/web/src/components/views/login/Login-Form.tsx
  apps/web/src/components/views/ui/pagination.tsx
Labels: frontend

feat: add Footer, Input, and Select components for enhanced user interface and functionality
  apps/web/src/components/views/login/Input.tsx
  apps/web/src/components/views/login/Login-Footer.tsx
  apps/web/src/components/views/ui/LogoFull.tsx
  apps/web/src/components/views/ui/select.tsx
Labels: frontend

feat: add Button, Sheet, Sidebar, and Table components for improved UI and functionality
  apps/web/src/components/views/login/Button.tsx
  apps/web/src/components/views/ui/sheet.tsx
  apps/web/src/components/views/ui/sidebar.tsx
  apps/web/src/components/views/ui/table.tsx
Labels: frontend

feat: implement GitHub OAuth authentication and session management
  apps/web/src/app/pages/api/auth/[...nextauth].ts
  apps/web/src/auth/factories/authHelpers.ts
  apps/web/src/auth/factories/authInterface.ts
Labels: frontend

feat: add Access Token and Analytics pages with corresponding tests
  apps/web/src/app/home/access-tokens/page.test.tsx
  apps/web/src/app/home/access-tokens/page.tsx
  apps/web/src/app/home/analytics/page.test.tsx
  apps/web/src/app/home/analytics/page.tsx
  apps/web/src/app/home/code/page.tsx
  apps/web/src/app/home/layout.tsx
  apps/web/src/app/home/page.tsx
Labels: frontend

feat: add RootLayout component for application structure and theming
  apps/web/src/app/layout.tsx
Labels: frontend

feat: add authentication callback, 404 Not Found page, and login page components
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
Labels: frontend

feat: add testing scripts and update package dependencies
  apps/web/package.json
  apps/web/src/cz-config.js
Labels: config, frontend, package

feat: add SignupForm component and corresponding tests for UsersTable
  apps/web/src/components/features/data-stats/data-stats.tsx
  apps/web/src/components/features/images-table/images-table.tsx
  apps/web/src/components/features/signup-form/signup-form.tsx
  apps/web/src/components/features/users-table/users-table.test.tsx
  apps/web/src/components/features/users-table/users-table.tsx
Labels: frontend

feat: update AuthState to use AuthUser type for user management
  apps/web/src/stores/auth.ts
Labels: frontend

feat: enhance authentication middleware to support public paths and token validation
  apps/web/src/middleware.ts
Labels: frontend

feat: add Prisma client setup for database interactions
  apps/api/src/utils/database/prisma.client.ts
Labels: backend

feat: add API endpoint for ping response
  apps/web/src/app/pages/api/ping.ts
Labels: frontend

feat: implement authentication controller with GitHub provider and Supabase integration
  apps/web/src/auth/application/controller.ts
  apps/web/src/auth/config/supabase.ts
Labels: frontend

feat: add signup page and update user type definitions
  apps/web/src/app/signup/page.tsx
  apps/web/src/types.ts
Labels: frontend

feat: remove unused email verification functions and add invite email functionality
  apps/web/src/actions.ts
Labels: frontend

feat: update constants for pull request status and session naming
  apps/web/src/lib/constants.ts
Labels: frontend

feat: update package.json with new dependencies and lint-staged configuration
  package-lock.json
  package.json
Labels: config, package

feat: update publicPaths in middleware to allow access to the root login page
  apps/web/src/middleware.ts
Labels: frontend

feat: update signIn and error page paths to root
  apps/web/src/auth/application/controller.ts
Labels: frontend

feat: integrate Supabase OAuth for GitHub sign-in and enhance session management
  apps/web/src/auth/application/controller.ts
Labels: frontend

feat: add GitHub login button and functionality to the login form
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
