Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

feat(api): add generateAccessToken function for api authentication
  apps/web/src/actions.ts
Labels: frontend

feat(access-tokens): implement async token generation and clipboard copy functionality
  apps/web/src/app/home/access-tokens/page.tsx
Labels: frontend

feat(api): remove unused ping endpoint
  apps/web/src/app/pages/api/ping.ts
Labels: frontend

feat(api): add ping endpoint for health check
  apps/web/src/pages/api/ping.ts
Labels: frontend

feat(auth): remove GitHub OAuth configuration file
  apps/web/src/app/pages/api/auth/[...nextauth].ts
Labels: frontend

feat(auth): add NextAuth configuration with GitHub OAuth logging
  apps/web/src/pages/api/auth/[...nextauth].ts
Labels: frontend

feat(turbo): add NEXTAUTH_SECRET and SUPABASE_SERVICE_ROLE_KEY to environment variables
  turbo.json
Labels: none

feat(footer): update footer to reflect new brand name and adjust dashboard path
  apps/web/src/components/views/login/Login-Footer.tsx
Labels: frontend

fix(footer): handle undefined pathname in dashboard check
  apps/web/src/components/views/login/Login-Footer.tsx
Labels: frontend

fix(auth): improve error handling in findUserByEmail method
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(auth): add GitHub login DTO and update login DTO with GitHub ID
  apps/api/src/dto/login.dto.ts
  apps/web/src/types.ts
Labels: frontend, backend

feat(auth): add GitHub login functionality with GitHub user details
  apps/web/src/actions.ts
Labels: frontend

feat(auth): add GitHubLogin interface and update User model with GitHub ID and avatar URL
  apps/api/src/types/GithubLogin.ts
  prisma/schema.prisma
Labels: backend

feat(auth): implement GitHub user creation and retrieval methods
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(auth): add GitHub login endpoint to AuthController
  apps/api/src/auth/auth.controller.ts
Labels: backend

feat(auth): implement GitHub login functionality in AuthService
  apps/api/src/auth/auth.service.ts
Labels: backend

feat(auth): implement GitHub login functionality in LoginForm component
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

feat(auth): refactor middleware for improved authentication flow and token handling
  apps/web/src/middleware.ts
Labels: frontend

feat(tests): enhance test generation prompt formatting and response structure
  apps/api/src/gemini/application/helpers/test-formatter.helper.ts
Labels: backend

feat(database): add avatarUrl and githubId columns to User model
  prisma/migrations/20241126073608_add_avatar_url_ouath_users/migration.sql
  prisma/schema.prisma
Labels: none

fix(metadata): correct variable name for author email in metadata script
  .github/workflows/scripts/send_metadata.sh
Labels: none

feat(workflows): enhance metadata script execution with environment variable checks
  .github/workflows/code_analyze.yml
Labels: config

feat(github): enhance pull request data storage with logging and validation--will see if null values pop up and fix them
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

fix(workflows): comment out upload release asset step due to null upload_url issue
  .github/workflows/publish.yml
Labels: config

feat(auth): add isAdmin, isInactive, sessions, and password fields to user provider response
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

fix(auth): cast user creation response to any type in GitHub user creation
  apps/api/src/auth/auth.service.ts
Labels: backend

feat(pullrequest): add PullRequestResponseDTO and CommitResponseDTO for enhanced pull request data structure
  apps/api/src/dto/PullRequest.dto.ts
  apps/api/src/dto/index.ts
Labels: backend

feat(dependencies): add date-fns library to package.json and package-lock.json
  package-lock.json
  package.json
Labels: config, package

feat(github): add endpoint to retrieve pull requests for authenticated user
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(github): implement getPullRequestsForUser method to retrieve user's pull requests with detailed commit stats
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(dashboard): implement pull request listing with loading and error handling
  apps/web/src/app/home/code/page.tsx
Labels: frontend

feat(api): add GithubModule to the main application module
  apps/api/src/app.module.ts
Labels: backend

feat(tests): enhance test generation process and improve markdown extraction
  .github/workflows/scripts/process_feedback.sh
  apps/api/src/gemini/application/helpers/test-formatter.helper.ts
Labels: backend

feat(ci): update publish workflow to increment version and push new tags
  .github/workflows/publish.yml
Labels: config

feat(metadata): update JSON keys for pull request metadata to camelCase format
  .github/workflows/scripts/send_metadata.sh
Labels: none

feat(auth): implement GitHub authentication callback handling
  apps/web/src/app/auth/callback/github/page.tsx
Labels: frontend

feat(user): make user fields optional in the User model
  prisma/schema.prisma
Labels: none

feat(auth): exclude GitHub login route from JWT middleware
  apps/api/src/app.module.ts
Labels: backend

feat(auth): remove unused AuthCallback component
  apps/web/src/app/auth/callback/page.tsx
Labels: frontend

feat(database): allow nullable fields for User model and drop unique username constraint
  prisma/migrations/20241127111446_allo_nullable_fields_oauth0_users/migration.sql
  prisma/migrations/20241127111905_drop_unique_username_constraints/migration.sql
Labels: none
