Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

feat(dependencies): add @types/react-syntax-highlighter to package.json and package-lock.json
  apps/web/package.json
  package-lock.json
Labels: config, package

Create LICENSE
  LICENSE
Labels: documentation

feat(env): add .env.template for environment variable configuration
  apps/web/.env.template
  apps/web/.gitignore
Labels: config

feat(env): update .env.example to include JWT_SECRET and DATABASE_URL
  apps/api/.env.example
Labels: none

feat(workflows): remove obsolete scripts and workflows for PR analysis and commenting
  .github/workflows/analyze_code.yml
  .github/workflows/code_analyze.yml
  .github/workflows/comment_pr.yml
  .github/workflows/label-pr.yml
  .github/workflows/linter.yml
  .github/workflows/owner-commit.yml
  .github/workflows/pr.yml
  .github/workflows/scripts/analyze_code.sh
  .github/workflows/scripts/api/contollers/analyze_code.sh
  .github/workflows/scripts/api/helpers/post_comment.sh
  .github/workflows/scripts/api/logs/utils.sh
  .github/workflows/scripts/update_status.sh
  .github/workflows/security.yml
Labels: config

feat(action): add Bunjy AI Analysis workflow for PR analysis
  action.yaml
Labels: none

feat(workflows): add AI analysis workflow for pull request processing
  .github/workflows/ai.yml
Labels: config

feat(docs): update README to reflect AI integration and project structure
  README.md
Labels: documentation

feat(workflows): remove obsolete publish workflow and environment configuration scripts
  .github/workflows/publish.yml
  .github/workflows/scripts/config/env.sh
Labels: config
