Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

chore(publish): update GitHub Actions workflow to fetch full history for versioning, enhance version increment logic, and capture latest commit message for release notes
  .github/workflows/publish.yml
Labels: config

fix(mode-toggle): make onThemeChange callback optional in ModeToggle component to prevent errors when not provided
  apps/web/src/components/views/ui/mode-toggle.tsx
Labels: frontend

feat(env): update default URLs to point to the new Bunjy site; add favicon.ico
  apps/web/src/app/favicon.ico
  apps/web/src/lib/env.ts
  supabase/config.toml
Labels: frontend

chore(layout): update application title and description to reflect new branding for Bunjy AI
  apps/web/src/app/layout.tsx
Labels: frontend

chore(workflows): rename GitHub Actions workflows for clarity; update names to reflect Bunjy branding
  .github/workflows/analyze_code.yml
  .github/workflows/comment_pr.yml
Labels: config

chore(package): rename project from Mintify to Bunjy; update dependencies and add nookies package
  package-lock.json
  package.json
Labels: config, package

feat(api): add UserController and UserProvider to app module; comment out ContentTypeMiddleware application
  apps/api/src/app.module.ts
Labels: backend

feat(user): add updateUserDetails function to handle user profile updates; include error handling and state management
  apps/web/src/actions.ts
Labels: frontend

refactor(user-role): update enum values to uppercase for consistency and improved readability
  apps/api/src/types/UserRole.ts
Labels: backend

chore(branding): update footer and session name to reflect Bunjy AI branding; rename 'Settings' to 'Profile' in header
  apps/web/src/components/views/login/Login-Footer.tsx
  apps/web/src/components/views/ui/header.tsx
  apps/web/src/lib/constants.ts
Labels: frontend

refactor(user-role): change default UserRole value to uppercase for consistency
  apps/api/src/dto/User.dto.ts
Labels: backend

feat(dto): add updateUser DTO and include it in the index export
  apps/api/src/dto/index.ts
  apps/api/src/dto/updateUser.dto.ts
Labels: backend

feat(user): implement user update functionality with validation and error handling; add UserController for handling update requests
  apps/api/src/auth/providers/suppliers/user.provider.ts
  apps/api/src/log/user/user.controller.ts
  apps/web/src/app/layout.tsx
Labels: frontend, backend

feat(signup): enhance signup page layout with navigation and footer; update card styling and remove description
  apps/web/src/app/signup/page.tsx
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

feat(nav): update navigation components to include AI branding; replace LogoFull with an image and add AIIcon; modify sidebar and login navigation for improved user experience
  apps/web/src/components/views/login/Login-Nav.tsx
  apps/web/src/components/views/ui/LogoFull.tsx
  apps/web/src/components/views/ui/sidebar.tsx
Labels: frontend

feat(signup): improve signup form functionality and user feedback; reduce password minimum length to 6 characters, add error handling, and implement redirection after successful signup
  apps/web/src/components/features/signup-form/signup-form.tsx
  apps/web/src/components/views/login/Input.tsx
Labels: frontend

fix(auth): ensure user role is set to uppercase during signup for consistency
  apps/api/src/auth/auth.controller.ts
Labels: backend

feat(profile): create user profile page with update functionality and notifications; implement state management for user details
  apps/web/src/app/home/profile/page.tsx
Labels: frontend

fix(publish): update version increment logic in GitHub Actions workflow; ensure variables are initialized to avoid errors and replace deprecated output setting method
  .github/workflows/publish.yml
Labels: config

refractor grep command to trim white spaces from pr metadata
  .github/workflows/scripts/send_metadata.sh
Labels: none

randomize greetomg hook based on time and theme
  apps/web/src/hooks/useGreeting.ts
Labels: frontend

feat(home): add FileList and TokenUsage components; enhance dialog component with new layout and accessibility features
  apps/web/src/components/views/home/FileList.tsx
  apps/web/src/components/views/home/TokenUsage.tsx
  apps/web/src/components/views/home/index.ts
  apps/web/src/components/views/ui/dialog.tsx
Labels: frontend

feat(api): create axios instance with base URL for API requests
  apps/web/src/server/api.ts
Labels: frontend

feat(helpers): add promptSuggestions for code improvement ideas; implement parseDiff function to analyze diff strings and get file icons based on extensions
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/utils.ts
Labels: frontend

feat(home): add AIDialog, CodeRenderer, and FileDiff components for enhanced code analysis and visualization
  apps/web/src/components/views/home/AIDialog.tsx
  apps/web/src/components/views/home/CodeRenderer.tsx
  apps/web/src/components/views/home/FileDiff.tsx
Labels: frontend

feat(home): add Sidebar component and custom hook for fetching file analysis data
  apps/web/src/components/views/home/Sidebar.tsx
  apps/web/src/hooks/useFetchFileAnalysis.ts
Labels: frontend

feat(api): add timeout option to transaction callback for improved query execution control
  apps/api/src/factories/prisma/prisma.service.ts
Labels: backend

feat(types): add new interfaces for AI token usage, API responses, file analysis, and diff handling
  apps/web/src/types.ts
Labels: frontend

feat(api): add generateCode method and endpoint for code generation
  apps/api/src/gemini/application/gemini.service.ts
  apps/api/src/gemini/presenters/http/gemini.controller.ts
Labels: backend

feat(ui): add AI icon to mobile navigation and update sidebar label to 'Commits'
  apps/web/src/components/views/ui/mobile-nav.tsx
  apps/web/src/components/views/ui/sidebar.tsx
Labels: frontend

feat(deps): add react-markdown, react-syntax-highlighter, and remark-gfm for enhanced markdown rendering
  package-lock.json
  package.json
Labels: config, package

feat(api): add sendAICodeAnalysis function for AI code analysis requests
  apps/web/src/actions.ts
Labels: frontend

feat(api): enhance content formatter for improved code review analysis and extraction
  apps/api/src/gemini/application/helpers/content.formatter.ts
Labels: backend

feat(UI): implement new page for code analysis and AI powered prompts
  apps/web/src/app/home/page.tsx
Labels: frontend

feat(ui): add loading notification and spinner for code analysis loading state
  apps/web/src/app/home/page.tsx
Labels: frontend

feat(workflows): enhance PR number validation and error handling in workflows
  .github/workflows/code_analyze.yml
  .github/workflows/scripts/send_metadata.sh
Labels: config

feat(api): improve error handling and logging in storeData method of GithubController
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(workflows): add PR number to metadata sent in send_metadata script
  .github/workflows/scripts/send_metadata.sh
Labels: none

feat(api): implement upsert operation for Pull Requests in GithubService
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(workflows): rename code analysis job to AI and update job name
  .github/workflows/code_analyze.yml
Labels: config
