Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

add null check to prevent empty data
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

add contoller for health
  apps/api/src/app.module.ts
Labels: backend

feat(middleware): add request logger middleware for HTTP request logging
  apps/api/src/middleware/extensions/logger.middleware.ts
Labels: backend

feat(health): implement health check controller
  apps/api/src/log/health/health.controller.ts
Labels: backend

feat(dto): enhance UserDto with validation messages and optional fields
  apps/api/src/dto/User.dto.ts
Labels: backend

feat(validate): enhance validation configuration with additional options
  apps/api/src/configs/validate.config.ts
Labels: backend

feat(user): refactor createUser method to use UserDto and improve error handling
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(auth): enrich signup userDto with default values and improve error handling
  apps/api/src/auth/auth.controller.ts
Labels: backend

fix: add missing terminus dependency to packages
  apps/api/package.json
  package-lock.json
Labels: config, package

resolve dependency resolution error for HealthCheckService
  apps/api/src/app.module.ts
Labels: backend

add Optional Chaining to prevent accessing undefined propery
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

feat(auth): enhance signup method with improved error handling and default user values
  apps/api/src/auth/auth.controller.ts
Labels: backend

feat(validation): enhance ValidationPipe with custom exception handling and improved error logging
  apps/api/src/configs/validate.config.ts
Labels: backend

feat(auth): refactor createUser method for improved error handling and code clarity
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

fix(auth): update signup method to accept any type for userDto
  apps/api/src/auth/auth.controller.ts
Labels: backend

feat(auth): enhance user provider with detailed logging and improved error handling
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

fix(auth): update signup and login methods to accept any type for userDto and add detailed error logging
  apps/api/src/auth/auth.service.ts
Labels: backend

logging for debugging
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/configs/validate.config.ts
  apps/api/src/main.ts
Labels: backend

Fix api erorr handling
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/main.ts
  apps/api/src/middleware/content/content.middleware.ts
  apps/web/src/app/home/usage/page.tsx
Labels: frontend, backend

Adjust middleware service layer to POST requets
  apps/api/src/app.module.ts
Labels: backend

feat(ui): display a better ui than github lol
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
  apps/web/src/app/home/usage/page.tsx
Labels: frontend, backend

removed scrolling of navbar and sidebar when children have overflow property
  apps/web/src/app/home/layout.tsx
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

feat(greeting): enhance greeting functionality with time-based messagestion.
  apps/web/src/hooks/useGreeting.ts
Labels: frontend

feat(auth): refactor AuthUser interface to improve structure and add new properties for enhanced user management
  apps/web/src/auth/factories/authInterface.ts
Labels: frontend

feat(header): enhance user experience with personalized greeting and improved logout functionality
  apps/web/src/components/views/ui/header.tsx
Labels: frontend

feat(auth): implement session management improvements by invalidating existing sessions and enhancing user data security
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/providers/guards/session.guard.ts
Labels: backend

feat(config): update image configuration to allow remote patterns from GitHub avatars
  apps/web/next.config.mjs
Labels: none

feat(api): add API key usage statistics endpoint and service methodresponses in case of failures.
  apps/api/src/factories/api/api.controller.ts
  apps/api/src/factories/api/api.service.ts
Labels: backend

Enhance file analysis script to track previously analyzed files and skip re-analysis.
  .github/workflows/scripts/analyze_files.sh
Labels: none

feat(api): add API key usage statistics retrieval and improve error handling in fetchAllPRFileAnalysis
  apps/web/src/actions.ts
Labels: frontend

feat(greeting): enhance greeting functionality with day-specific jokes and dark mode support
  apps/web/src/hooks/useGreeting.ts
Labels: frontend

refactor(sidebar): update navigation labels for clarity, changing "Usage" to "Code Changes" and "AI Analysis" to "AI Usage"
  apps/web/src/components/views/ui/sidebar.tsx
Labels: frontend

feat(header, mode-toggle): implement theme management and user state handling in header component
  apps/web/src/components/views/ui/header.tsx
  apps/web/src/components/views/ui/mode-toggle.tsx
Labels: frontend

feat(analytics): implement API usage statistics display with loading state and error handling
  apps/web/src/app/home/analytics/page.tsx
Labels: frontend

feat(dialog): add customizable dialog component with header, title, and content support
  apps/web/src/components/views/ui/dialog.tsx
Labels: frontend

feat(home): overhaul home page to display pull request file analyses with diff view and AI analysis modal
  apps/web/src/app/home/page.tsx
Labels: frontend

feat(metadata): enhance send_metadata script to validate commit history, escape commit messages, and improve error handling for stats retrieval
  .github/workflows/scripts/send_metadata.sh
Labels: none

fix(send_metadata): improve commit history validation, enhance error handling for empty stats, and ensure optional metadata fields are handled gracefully
  .github/workflows/scripts/send_metadata.sh
Labels: none

fix(home): add type annotations for change mapping in HomePage component
  apps/web/src/app/home/page.tsx
Labels: frontend

fix(send_metadata): refine label processing in send_metadata script to handle null values and trim whitespace
  .github/workflows/scripts/send_metadata.sh
Labels: none
