Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

feat(sanctum): implement FileAnalysisService for storing and retrieving file analysis data
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

feat(github): enhance file analysis script to support additional file types and report additions/deletions
  .github/workflows/scripts/analyze_files.sh
Labels: none

feat(github): add FileProvider to GithubModule providers
  apps/api/src/domains/github/github.module.ts
Labels: backend

feat(github): add FileProvider for determining file types and checking code files
  apps/api/src/domains/presenters/application/providers/file.provider.ts
Labels: backend

fix(github): remove fileType from response in file analysis data
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(sanctum): enhance FileAnalysisService to utilize FileProvider for file type determination and add new analysis fields
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

fix(api): use type validation for file formatting
  apps/api/src/domains/presenters/application/providers/file.provider.ts
Labels: backend

feat(sanctum): include pull request details in file analysis retrieval
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

feat(sanctum): include pull request details in file analysis retrieval
  .github/workflows/scripts/analyze_files.sh
Labels: none

feat(github): enhance file analysis validation and add endpoint to retrieve analyses by PR number
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

chore(shell): map wc command to sanctum function to enable deeper file analysis
  .github/workflows/scripts/analyze_files.sh
Labels: none

feat(gemini): implement retry logic for text generation and analysis methods
  apps/api/src/gemini/application/gemini.service.ts
Labels: backend

feat(github): enhance pull request data handling and add debugging logs for test generation
  .github/workflows/scripts/process_feedback.sh
Labels: none

feat(github): clean up pull request metadata before storing in service
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(github): add endpoint to retrieve all file analyses for authenticated user
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(github): add functions to fetch pull request file analysis and handle errors
  apps/web/src/actions.ts
Labels: frontend

feat(github): create File Analysis page to display pull request file analyses
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

feat(styles): add diff styling for improved code comparison visualization
  apps/web/src/styles/globals.css
Labels: none

feat(github): refactor File Analysis page to use react-diff-view for improved diff visualization and enhance file selection
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

feat(sanctum): add method to retrieve all file analyses for a user with error handling
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

feat(dependencies): add react-diff-view and refractor for enhanced code visualization
  package-lock.json
  package.json
Labels: config, package

invoke superstruct validation for hunk rendering in File Analysis page
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

feat(github): enhance pull request data storage with commit date validation
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(github): update versioning logic to increment patch version and handle existing tags
  .github/workflows/publish.yml
Labels: config

feat(prisma): remove fileAnalysis column from PullRequest model and update migration
  prisma/migrations/20241129083039_add_file_analysis_relationship/migration.sql
  prisma/schema.prisma
Labels: none

feat(github): update file analysis retrieval to fetch by user ID
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(github): refactor file analysis retrieval to fetch by user ID with enhanced selection and limit
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

feat(dependencies): upgrade Prisma and @prisma/client to version 6.0.0
  package-lock.json
  package.json
Labels: config, package

feat(github): improve versioning logic in publish workflow with patch increment and tag check
  .github/workflows/publish.yml
Labels: config

feat(api): refactor file analysis retrieval method to improve user-specific queries and limit results
  apps/api/src/domains/presenters/sanctum/analysis.service.ts
Labels: backend

feat(commitlint): increase header max length to 200 characters
  commitlint.config.js
Labels: none

feat(github): update file analysis retrieval to fetch by user ID
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(database): add tier enums and user tier model with foreign key constraints
  prisma/migrations/20241129141333_add_tier_enums_and_file_analyis_model/migration.sql
Labels: none

feat(database): add Tier and UserTier models with relationships and enums
  prisma/schema.prisma
Labels: none

fix auth chain to redirect the user to production domain URL
  apps/web/src/components/views/login/Login-Form.tsx
Labels: frontend

add assertion to auth url for supertype validation
  apps/web/src/lib/env.ts
Labels: frontend

chore(toml): echo production url to supabase config
  supabase/config.toml
Labels: none

chore(publish): implment a better logic for incrmenting tags for versions
  .github/workflows/publish.yml
Labels: config

feat(styles): add more styles for the code analysis pageto resemble github ui
  apps/web/src/styles/globals.css
Labels: none

add new ui page for usage with proper type and hunks interfaces
  apps/web/src/app/home/usage/page.tsx
Labels: frontend

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
