Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: config, documentation, frontend, backend, tests, package

chore: add NEXT_PUBLIC_SUPABASE_URL to GitHub Actions workflow for environment variables
  .github/workflows/publish.yml
Labels: config

chore: add NEXT_PUBLIC_SUPABASE_ANON_KEY to GitHub Actions workflow for environment variables
  .github/workflows/publish.yml
Labels: config

chore: refactor cz-config.js to use ES module syntax for imports
  apps/web/src/cz-config.js
Labels: frontend

chore: update GitHub Actions workflow permissions for content and pull requests
  .github/workflows/publish.yml
Labels: config

chore: update GitHub Actions workflow to use softprops/action-gh-release and change artifact format to tar.gz
  .github/workflows/publish.yml
Labels: config

chore: enhance GitHub Actions workflow to include version calculation and ensure .next directory exists
  .github/workflows/publish.yml
Labels: config

fix(.next): updated file path for frontend path to the apps/web folder
  .github/workflows/publish.yml
Labels: config

Fix bug in missing upload_url key param in publish job
  .github/workflows/publish.yml
Labels: config

Fix failing runs
  .github/workflows/publish.yml
Labels: config

Update publish.yml version
  .github/workflows/publish.yml
Labels: config

feat(auth): enhance signup and login methods to handle BigInt IDs and improve error handling
  apps/api/src/auth/auth.service.ts
Labels: backend

feat(auth): enhance session management with validation and deletion methods
  apps/api/src/auth/providers/guards/session.guard.ts
Labels: backend

feat(prisma): implement cleanup of prepared statements in connection lifecycle
  apps/api/src/factories/prisma/prisma.service.ts
Labels: backend

feat(auth): enhance user creation and retrieval with BigInt conversion and existence check
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(workflow): update publish.yml to add package permissions and upload release asset
  .github/workflows/publish.yml
Labels: config

feat(gemini): refactor controller to use BaseController decorator
  apps/api/src/gemini/presenters/http/gemini.controller.ts
Labels: backend

feat(api): update generateToken method to accept userId in request body and improve error handling
  apps/api/src/factories/api/api.controller.ts
Labels: backend

feat(auth): refactor user provider methods to use prisma.execute for improved error handling and convert BigInt to Number
  apps/api/src/auth/providers/suppliers/user.provider.ts
Labels: backend

feat(api): add Prisma client and Prisma package dependencies to package.json and package-lock.json
  apps/api/package.json
  package-lock.json
Labels: config, package

feat(api): update generateApiKey method to convert userId to string and improve error handling for JWT_SECRET and database operations
  apps/api/src/factories/api/api.service.ts
Labels: backend

feat(prisma): refactor PrismaService to improve connection handling and add centralized query execution method
  apps/api/src/factories/prisma/prisma.service.ts
Labels: backend

feat(database): add PullRequest, Commit, and FileAnalysis tables with necessary fields and foreign key constraints
  prisma/migrations/20241125071928_pull_requests/migration.sql
  prisma/migrations/20241125080729_add_pr_commit_models/migration.sql
  prisma/migrations/20241125085259_pr_metadata_additions/migration.sql
Labels: none

feat(database): add PullRequest, Commit, CommitStats, and FileAnalysis models with relationships and fields
  prisma/schema.prisma
Labels: none

feat(api): add CommitDTO and PullRequestDTO classes for GitHub data representation
  apps/api/src/dto/github.dto.ts
Labels: backend

feat(workflow): add send_metadata.sh script to send GitHub PR metadata to server
  .github/workflows/scripts/send_metadata.sh
Labels: none

feat(tests): add unit tests for GithubService and GithubController
  apps/api/src/domains/presenters/application/github/github.service.spec.ts
  apps/api/src/domains/presenters/github/github.controller.spec.ts
Labels: backend

feat(api): create GithubModule with controller and service providers
  apps/api/src/domains/github/github.module.ts
Labels: backend

feat(api): add githubProviders for dependency injection of GithubService
  apps/api/src/domains/presenters/application/providers/github.provider.ts
Labels: backend

feat(api): implement GithubController for storing pull request metadata
  apps/api/src/domains/presenters/github/github.controller.ts
  apps/api/src/dto/index.ts
Labels: backend

feat(api): add GithubService for storing pull request and commit metadata
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(workflows): enhance PR metadata fetching and environment variable setup
  .github/workflows/code_analyze.yml
Labels: config

feat(prisma): set default value for timestamp in Commit model
  prisma/schema.prisma
Labels: none

feat(api): update DTOs to include optional description in PullRequestDTO
  apps/api/src/dto/github.dto.ts
Labels: backend

feat(prisma): add migration to set default value for timestamp in Commit model
  prisma/migrations/20241125115941_add_timestamp_commit_model/migration.sql
Labels: none

feat(api): enhance storeData method to include user ID and improve error handling
  apps/api/src/domains/presenters/github/github.controller.ts
Labels: backend

feat(api): add optional timestamp field to CommitDTO
  apps/api/src/dto/github.dto.ts
Labels: backend

feat(api): refactor storePullRequestData method to include user ID and enhance commit storage
  apps/api/src/domains/presenters/application/github/github.service.ts
Labels: backend

feat(workflow): enhance code analysis workflow to fetch branches and improve commit history retrieval
  .github/workflows/code_analyze.yml
Labels: config

feat(workflow): update code analysis workflow to include GitHub token for fetching PR details
  .github/workflows/code_analyze.yml
Labels: config

feat(api): improve test generation prompt formatting and response structure
  apps/api/src/gemini/application/helpers/test-formatter.helper.ts
Labels: backend

.github/labeler.yml:

# Labeler configuration file for a monorepo with Next.js and NestJS projects

### Global Labels
# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'

# Styles (CSS, SCSS)
# css:
#   - '**/*.css'
#   - '**/*.scss'

# Configuration files
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - '**/tsconfig.json'
  - '**/.eslintrc.js'
  - '**/.eslintignore'
  - '**/.prettierrc'
  - '**/.prettierignore'
  - '**/jest.config.js'
  - '**/.gitignore'
  - '**/.npmrc'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
  - '**/next.config.js'
  - '**/nest-cli.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - '**/README.md'
  - '**/CONTRIBUTING.md'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/CODE_OF_CONDUCT.md'

### Frontend Labels (Next.js - apps/web)
frontend:
  - 'apps/web/**/*.{ts,tsx,js,jsx}'
  - 'apps/web/styles/**/*.{css,scss}'
  - 'apps/web/public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'

### Backend Labels (NestJS - apps/api)
backend:
  - 'apps/api/src/**/*.controller.ts'
  - 'apps/api/src/**/*.service.ts'
  - 'apps/api/src/**/*.module.ts'
  - 'apps/api/src/**/*.dto.ts'
  - 'apps/api/src/**/*.entity.ts'
  - 'apps/api/src/**/*.ts'

### Testing Labels
tests:
  - 'apps/web/tests/**/*.{ts,tsx,js,jsx}'
  - 'apps/api/test/**/*.{ts,js}'

### Package Files
package:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'
