Repository mohswell/mintify, changes with the labels that .github/labeler.yml gives for each.
All labels: css, styled-components, pages, components, styles, public-assets, api, tests, config, documentation, package, frontend, backend, types, actions, constants, contexts, utils, lib, layouts, controllers, services, modules, dtos, middleware, guards, interceptors, pipes, decorators

.github/labeler.yml:

# Labeler configuration file for a Next.js project
# Reference: https://github.com/actions/labeler

# TypeScript files
# typescript:
#   - '**/*.ts'
#   - '**/*.tsx'

# # JavaScript files
# javascript:
#   - '**/*.js'
#   - '**/*.jsx'
#   - '**/*.mjs'

### Frontend Labels
# CSS and SCSS files
css:
  - '**/*.css'
  - '**/*.scss'

# Styled Components files
styled-components:
  - '**/*.styled.js'
  - '**/*.styled.ts'
  - '**/*.styled.tsx'

# Pages (Next.js pages router)
pages:
  - 'pages/**/*.{ts,tsx,js,jsx}'

# Components
components:
  - 'components/**/*.{ts,tsx,js,jsx}'

# Styles (Global styles and CSS modules)
styles:
  - 'styles/**/*.{css,scss}'

# Public assets (Images, fonts, etc.)
public-assets:
  - 'public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'
  - 'public/**/*.{ttf,woff,woff2,eot}'

# API Routes (Next.js API directory)
api:
  - 'pages/api/**/*.{ts,tsx,js,jsx}'

# Tests (Unit, integration, and end-to-end tests)
tests:
  - 'tests/**/*.{ts,tsx,js,jsx}'
  - '**/__tests__/**/*.{ts,tsx,js,jsx}'
  - '**/__mocks__/**/*.{ts,tsx,js,jsx}'

# Configuration files (Project settings and configuration)
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - 'next.config.js'
  - 'tsconfig.json'
  - 'babel.config.js'
  - '.eslintrc.js'
  - '.eslintignore'
  - '.prettierrc'
  - '.prettierignore'
  - 'jest.config.js'
  - '.gitignore'
  - '.npmrc'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'CHANGELOG.md'
  - 'LICENSE'
  - 'CODE_OF_CONDUCT.md'

# Package files (Dependencies and lock files)
package:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'

# Multiple labels for frontend-related files
frontend:
  - 'pages/**/*.{ts,tsx,js,jsx}'
  - 'components/**/*.{ts,tsx,js,jsx}'
  - 'styles/**/*.{css,scss}'
  - 'public/**/*.{png,jpg,jpeg,svg,gif,ico,webp}'
  - 'hooks/**/*.{ts,tsx,js,jsx}'
  - 'contexts/**/*.{ts,tsx,js,jsx}'
  - 'layouts/**/*.{ts,tsx,js,jsx}'
  - 'stores/**/*.{ts.tsx,js,jsx}'

# Backend / API-related files
backend:
  - 'pages/api/**/*.{ts,tsx,js,jsx}'
  - 'services/**/*.{ts,js}'
  - 'middleware/**/*.{ts,js}'

types:
  - 'types/**/*.{ts,d.ts}'

actions:
  - 'actions/**/*.{ts,d.ts}'

constants:
  - 'constants/**/*.{ts,js}'

contexts:
  - 'contexts/**/*.{ts,tsx,js,jsx}'

utils:
  - 'utils/**/*.{ts,tsx,js,jsx}'

lib:
  - 'lib/**/*.{ts,tsx,js,jsx}'

layouts:
  - 'layouts/**/*.{ts,tsx,js,jsx}'



#### Backend Labels
# Labeler configuration file for a NestJS project
# Reference: https://github.com/actions/labeler

# TypeScript files
# typescript:
#   - '**/*.ts'

# CSS and SCSS files (if NestJS app includes frontend assets or styles)
css:
  - '**/*.css'
  - '**/*.scss'

# Controllers (NestJS controllers)
controllers:
  - 'src/**/*.controller.ts'

# Services (NestJS services)
services:
  - 'src/**/*.service.ts'

# Modules (NestJS modules)
modules:
  - 'src/**/*.module.ts'

# DTOs (Data Transfer Objects)
dtos:
  - 'src/**/*.dto.ts'

# Middleware (NestJS middleware)
middleware:
  - 'src/middleware/**/*.{ts,js}'

# Guards (NestJS guards)
guards:
  - 'src/guards/**/*.{ts,js}'

# Interceptors (NestJS interceptors)
interceptors:
  - 'src/interceptors/**/*.{ts,js}'

# Pipes (NestJS pipes)
pipes:
  - 'src/pipes/**/*.{ts,js}'

# Decorators (NestJS custom decorators)
decorators:
  - 'src/decorators/**/*.{ts,js}'

# Configuration files (Project settings and configuration)
config:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'
  - 'config/**/*.json'
  - 'config/**/*.yaml'
  - 'config/**/*.yml'
  - 'nest-cli.json'
  - 'tsconfig.json'
  - '.eslintrc.js'
  - '.eslintignore'
  - '.prettierrc'
  - '.prettierignore'
  - 'jest.config.js'
  - '.gitignore'
  - '.npmrc'
  - '.vercel.json'

# Documentation files
documentation:
  - 'docs/**/*.md'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'CHANGELOG.md'
  - 'LICENSE'
  - 'CODE_OF_CONDUCT.md'

# Package files (Dependencies and lock files)
package:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'

# Tests (Unit, integration, and end-to-end tests)
tests:
  - 'test/**/*.{ts,js}'
  - '**/__tests__/**/*.{ts,js}'
  - '**/__mocks__/**/*.{ts,js}'

# Utils (Utility files)
utils:
  - 'src/utils/**/*.{ts,js}'

# Constants
constants:
  - 'src/constants/**/*.{ts,js}'

feat: update ESLint configuration and streamline Next.js config; add cz-config for commit message management
  apps/web/.eslintrc.js
  apps/web/next.config.mjs
  apps/web/src/cz-config.js
  package-lock.json
Labels: package

feat: add drizzle configuration and enhance Tailwind CSS setup; update TypeScript target
  apps/web/src/drizzle.config.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Labels: none

feat: update package.json with new scripts and dependencies; add global styles for Tailwind CSS
  apps/web/package.json
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
Labels: css

feat: remove custom _app and _document components for Next.js and migrate to app router in NEXT.js14
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
Labels: none

feat: update authentication actions to include admin login and user fetching; remove unused signup and password reset functions
  apps/web/src/actions.ts
  apps/web/src/types.ts
Labels: none

feat: remove unused pages including Home, Dashboard, Community, Forgot Password, and Verify
  apps/web/src/pages/community.tsx
  apps/web/src/pages/dashboard.tsx
  apps/web/src/pages/forgot-password.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/password-reset.tsx
  apps/web/src/pages/signup.tsx
  apps/web/src/pages/verify.tsx
Labels: none

feat: implement user fetching hook and server-side user management; update constants and utility functions
  apps/web/src/hooks/useUsers.ts
  apps/web/src/lib/constants.ts
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/utils.ts
  apps/web/src/providers/Provider.tsx
  apps/web/src/server/users.ts
Labels: none

feat: add custom 404 Not Found page with navigation back to home
  apps/web/src/app/not-found.tsx
Labels: none

feat: update middleware to handle authentication and redirection; simplify auth page checks and logout logic
  apps/web/src/middleware.ts
Labels: none

feat: add root layout component for the application; include global styles, metadata, and theme provider
  apps/web/src/app/layout.tsx
Labels: none

feat: add unit tests for admin pages and users table component
  apps/web/src/app/admin/analytics/page.test.tsx
  apps/web/src/app/admin/orders/page.test.tsx
  apps/web/src/app/admin/page.test.tsx
  apps/web/src/app/admin/products/page.test.tsx
  apps/web/src/app/page.test.tsx
  apps/web/src/components/features/users-table/users-table.test.tsx
Labels: none

feat: remove CommunityCard, CommunityGallery, EmptySubmissions, SubmissionsHeader, and SubmissionsList components
  apps/web/src/components/views/CommunityCard.tsx
  apps/web/src/components/views/community/CommunityGallery.tsx
  apps/web/src/components/views/submissions/EmptySubmissions.tsx
  apps/web/src/components/views/submissions/SubmissionsHeader.tsx
  apps/web/src/components/views/submissions/SubmissionsList.tsx
Labels: none

feat: remove unused hooks and API route for cleaner codebase
  apps/web/src/hooks/useElementSize.ts
  apps/web/src/hooks/useLockScroll.ts
  apps/web/src/hooks/usePagination.ts
  apps/web/src/pages/api/hello.ts
Labels: none

feat: add login page component with navigation and footer
  apps/web/src/app/page.tsx
Labels: none

feat: add root layout component for admin with sidebar and header
  apps/web/src/app/admin/layout.tsx
Labels: none

feat: remove Footer, Navbar, Providers, and Slides components for codebase simplification
  apps/web/src/components/Footer.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/Providers.tsx
  apps/web/src/components/Slides.tsx
Labels: none

feat: add admin dashboard, access token generation, user management, and analytics components
  apps/web/src/app/admin/analytics/page.tsx
  apps/web/src/app/admin/orders/page.tsx
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/admin/products/page.tsx
  apps/web/src/app/admin/users/page.tsx
Labels: none

feat: remove unused dashboard components for codebase simplification
  apps/web/src/components/SubmissionModal.tsx
  apps/web/src/components/TagInput.tsx
  apps/web/src/components/dashboard/PhotoUpload.tsx
  apps/web/src/components/dashboard/StatCard.tsx
  apps/web/src/components/dashboard/SubmissionCard.tsx
  apps/web/src/components/dashboard/Submissions.tsx
Labels: none

feat: add reusable UI components for form handling, including Label, Input, Badge, and Form utilities
  apps/web/src/components/ui/LogoFull.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
Labels: none

feat: add analytics chart data for admin dashboard
  apps/web/src/app/admin/analytics/index.ts
Labels: none

feat: remove unused icon components for codebase simplification
  apps/web/src/components/icons/IconChevronDown.tsx
  apps/web/src/components/icons/IconImage.tsx
  apps/web/src/components/icons/IconInfo.tsx
  apps/web/src/components/icons/IconMenu.tsx
  apps/web/src/components/icons/IconMinus.tsx
  apps/web/src/components/icons/IconPlus.tsx
  apps/web/src/components/icons/IconTrash.tsx
  apps/web/src/components/icons/IconUser.tsx
  apps/web/src/components/icons/IconX.tsx
Labels: none

feat: remove unused shared components for codebase simplification
  apps/web/src/components/shared/Button.tsx
  apps/web/src/components/shared/Checkbox.tsx
  apps/web/src/components/shared/Dropdown.tsx
  apps/web/src/components/shared/DropdownItem.tsx
  apps/web/src/components/shared/Filter.tsx
  apps/web/src/components/shared/Input.tsx
  apps/web/src/components/shared/Modal.tsx
  apps/web/src/components/shared/PaginationControls.tsx
  apps/web/src/components/shared/Textarea.tsx
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/components/shared/Toggle.tsx
  apps/web/src/components/shared/index.ts
  apps/web/src/components/shared/logo/LogoFull.tsx
  apps/web/src/components/shared/logo/LogoIcon.tsx
  apps/web/src/components/shared/logo/LogoMark.tsx
  apps/web/src/components/shared/logo/index.ts
Labels: none

feat: add login components including Footer, Nav, Header, and MobileNav with reusable UI elements
  apps/web/src/components/login/Input.tsx
  apps/web/src/components/login/Login-Footer.tsx
  apps/web/src/components/login/Login-Nav.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/chart.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/header.tsx
  apps/web/src/components/ui/mobile-nav.tsx
Labels: none

feat: remove unused layout components to streamline codebase
  apps/web/src/components/layouts/AppLayout.tsx
  apps/web/src/components/layouts/AuthLayout.tsx
  apps/web/src/components/layouts/DashboardLayout.tsx
  apps/web/src/components/layouts/RootLayout.tsx
Labels: none

feat: add login form and related components including Button, NotificationWrapper, and ModeToggle
  apps/web/src/components/login/Button.tsx
  apps/web/src/components/login/Login-Form.tsx
  apps/web/src/components/ui/NotificationWrapper.tsx
  apps/web/src/components/ui/mode-toggle.tsx
  apps/web/src/components/ui/select.tsx
Labels: none

feat: remove unused layout, dashboard, icon components, and related hooks for codebase simplification; add useDebounce hook
  apps/web/src/components/dashboard/Profile.tsx
  apps/web/src/components/dashboard/index.ts
  apps/web/src/components/icons/index.ts
  apps/web/src/components/layouts/index.ts
  apps/web/src/hooks/useDebounce.ts
  apps/web/src/hooks/useDisclosure.ts
  apps/web/src/hooks/useDropdown.ts
  apps/web/src/hooks/useGreeting.ts
  apps/web/src/stores/sidebar.ts
  apps/web/src/styles/globals.css
Labels: css

feat: add signup page and form components with validation; implement pagination UI components
  apps/web/src/app/signup/page.tsx
  apps/web/src/components/features/data-stats/data-stats.tsx
  apps/web/src/components/features/images-table/images-table.tsx
  apps/web/src/components/features/signup-form/signup-form.tsx
  apps/web/src/components/features/users-table/users-table.tsx
  apps/web/src/components/ui/pagination.tsx
  apps/web/src/components/ui/sheet.tsx
Labels: none

feat: add home layout and sidebar components; implement main dashboard structure with data stats
  apps/web/src/app/home/layout.tsx
  apps/web/src/app/home/page.tsx
  apps/web/src/components/features/index.ts
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/theme-provider.tsx
Labels: none

feat: add API route for ping response
  apps/web/src/app/api/ping/route.ts
Labels: none

feat: update ping API response to return an object instead of a string
  apps/web/src/app/api/ping/route.ts
Labels: none

feat: add drizzle ORM setup with Neon database connection
  apps/web/src/db/drizzle.ts
Labels: none

feat: add user schema to database and update hooks to include user-related functionality
  apps/web/src/db/schema.ts
  apps/web/src/hooks/index.ts
Labels: none

feat: implement user authentication flow and update session management
  package-lock.json
Labels: package

feat: enhance error handling in user authentication process
  package-lock.json
Labels: package

feat: add feedback and test generation script for user input processing
  .github/workflows/scripts/feedback_and_tests.sh
Labels: none

feat: add incremental analysis script for changed files in GitHub workflows
  .github/workflows/scripts/incremental_analyze.sh
Labels: none

feat: add TestFormatterService for generating test cases from code snippets
  apps/api/src/gemini/application/helpers/test-formatter.helper.ts
Labels: none

feat: add generateTests endpoint for test generation from code snippets
  apps/api/src/gemini/presenters/http/gemini.controller.ts
Labels: none

feat: refactor session middleware to use SupabaseDBClient for client initialization
  apps/api/src/middleware/session.middleware.ts
Labels: none

feat: update cache export to use cache.provider module
  apps/api/src/utils/index.ts
Labels: none
